body {
  overflow: hidden;
  color: black;
  min-height: 100%;
  display: grid;
  width: 100%;

  grid-template-areas: "navbar header"
  "navbar main"
  "footer footer" ;
  padding: 0;


}

body > section {
  grid-area:navbar;
  border-right: 1px solid var(--border-color);
  width: 10vw;


  & .navText {
    display: none;

    
  }
  
  @media screen and (min-width:970px) {
    & .navText {
    display: inline;

  }
  width: 20vw;
    
  }
  


  
  & ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;

    & li {
      padding: 0.7rem 1rem;
    }

    & li > a {
      color: #999;
      font-size: 14px;
      text-decoration: none;

    }
    & li > a:hover {
      color: black;
    }
  }
}

body > header {
  grid-area: header;
  display: flex;
  align-items: center;
  
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  height: 5vh;

  & h1 {
    font-size: 1.75rem;
    margin: 0;
    flex-grow: 1;
  }

  & > *  {
    padding: 1vw;
  }
}

body > main {
  grid-area: main;
  height: calc(100vh - 8vh - 4px);
  overflow-y: scroll;
  display: flex;
  padding: 1vw;
  width: 90vw;
  @media screen  {
    flex-direction: column;
    gap: 2vh;
    
  }
  @media screen and (min-width:970px)  {
    flex-direction: row;
    flex-wrap:wrap;
    gap: 2vh;
    width: 80vw;
    
  }
}

body > footer {
  display: flex;
  grid-area: footer;
  border-top: 1px solid var(--border-color);
  background-color: #f0f0f0;
  justify-content: center;
  align-items: center;
  height: 3vh;
}

.main_contact {
  display: block;
}

.main_contact > form {
  display: grid;
  padding: 2vw;

  @media screen  {
    grid-template-columns: 1fr ;
    gap: 0;
    
  }
  @media screen and (min-width:500px)  {
    grid-template-columns: repeat(1, 1fr);
    gap: 0 2vw;
    
  }

  & * {
    margin: 0.5vw 0.2vw;
  }

}

.form-wrapper {
  display: flex;
  @media screen  {
   flex-direction: column;
    
  }
  @media screen and (min-width: 800px)  {
    flex-direction: row;
    
  }
}

.form-wrapper > .form-wrapper-radio {
  display: flex;
  flex-direction: row;
  gap: 1vw; 
  padding-left: 3vw;
}

